body {
  background-image: url(../img/bkg-home.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.iframes {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background: #FFF;
  padding: 5px;
}

.social-links {
  @include absolutecenter('y');
  right: 1.5rem;
  ul {
    list-style: none;
    li {
      width: 2.5rem;
      height: 2.5rem;
      line-height: 2.5rem;
      background: #FFF;
      margin: 1rem 0;
      text-align: center;
      @include border-radius(100%);
      @include transition(all .3s ease);
      .social-url {
        color: #000;
        font-size: 1.4rem;
        &.mixcloud {
          font-size: 1.25rem;
          padding-right: 0.25rem;
        }
      }
      &:hover {
        background: #000;
        .social-url {
          color: #FFF;
        }
      }
    }
  }
}