button,hr,input{overflow:visible}audio,canvas,progress,video{display:inline-block}progress,sub,sup{vertical-align:baseline}[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}html{font-family:$font-primary;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:$font-primary;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:$font-primary;font-size:100%;line-height:1;margin:0}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:none;margin:0;padding:0}legend{color:inherit;display:table;max-width:100%;white-space:normal}textarea{overflow:auto}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}button,input[type="submit"],input[type="reset"],input[type="button"]{cursor: pointer;}
button:focus,input:focus,img, select:focus, textarea:focus {outline:0;}
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.clearfix { clear: both; display: block; }
.clearfix:before, .clearfix:after { content: " "; display: table;}
.clearfix:after, .grid-container-spaced{ clear: both;}
.clearfix { *zoom: 1;}
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin: 0;padding: 0;}
*, *:before, *:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
html, body { height:100%; }
.no-display-desktop { display: none; }
.display-only-desk { display: block !important; }
.display-only-mobile { display: none !important; }
.container,.grid-full { width: 100%; max-width: $grid-max; margin: 0 auto; *zoom:1; }
.container:before,.container:after,.grid-full:before,.grid-full:after { display:table; line-height:0; content:""; }
.container:after,.grid-full:after { clear:both; }
.no-gutter {padding: 0 !important;}
.no-left-gutter {padding-left: 0 !important;}
.no-right-gutter {padding-right: 0 !important;}
.fw300 {font-weight: 300;}
.fw400 {font-weight: 400;}
.fw500 {font-weight: 500;}
.fw600 {font-weight: 600;}
.fw700 {font-weight: 700;}
.fw800 {font-weight: 800;}
.fw900 {font-weight: 900;}
.t12 {font-size: 12px;}
.t13 {font-size: 13px;}
.t14 {font-size: 14px;}
.t15 {font-size: 15px;}
.t16 {font-size: 16px;}
.t17 {font-size: 17px;}
.t18 {font-size: 18px;}
.t19 {font-size: 19px;}
.t20 {font-size: 20px;}
.t21 {font-size: 21px;}
.t22 {font-size: 22px;}
.t23 {font-size: 23px;}
.t24 {font-size: 24px;}
.t-upper {text-transform: uppercase;}
.t-lower {text-transform: lowercase;}
.t-italic {font-style: italic;}
@media only screen and (max-width: $grid-max) {
  .container { width: $grid-max; margin: 0 auto; }
}
@media only screen and (max-width:769px) {
  .container { width:90%; margin: 0 auto; }
  .hide-below-768 { display: none !important; }
  .display-only-desk { display: none !important; }
  .display-only-mobile { display: block !important; }
}
@include respondTo(desktop) {
  .container { width: 98%; } 
}