$font-primary: "Open Sans", cursive;
$grid-max: 1280px;

// Breakpoints for each query
$smartphone: 480px;
$tabletPortrait: 767px;
$tabletLandscape: 1024px;
$desktop: 1174px;
$largeScreen: 1400px;
@mixin respondTo($media) {
  @if $media == smartphone {
    @media (max-width: $smartphone) { @content; }
  }
  @else if $media == tablet {
    @media (min-width: $tabletPortrait) and (max-width: $tabletLandscape) { @content; }
  }
  @else if $media == smallScreen {
    @media (max-width: $desktop) { @content; }
  }
  @else if $media == desktop {
    @media (min-width: $desktop) { @content; }
  }
}

@mixin crossBrowser($property, $css) {
  -webkit-#{$property}: $css;
  -moz-#{$property}: $css;
  -ms-#{$property}: $css;
  -o-#{$property}: $css;
  #{$property}: $css;
}

@mixin border-radius($property) {
  @include crossBrowser('border-radius', $property);
}
@mixin transition($property) {
  @include crossBrowser('transition', $property);
}
@mixin transform($property) {
  @include crossBrowser('transform', $property);
}

@mixin absolutecenter($axis: "both"){
  position: absolute;
  @if $axis == "y"{
    top: 50%;
    @include transform(translateY(-50%));
  }
  @if $axis == "x"{
    left: 50%;
    @include transform(translateX(-50%));
  }
  @if $axis == "both"{
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
  }   
}